/*Tama;o de imagen*/
img {
  width: 200px;
  height: auto;               
}

/*Color de toda la apgina*/
body {
  background-color: #a465ec;
  font-family: Arial, sans-serif;
}

/*Encabezado*/
header {
  background-color: #933ce4;
  color:rgb(230, 236, 236)
  padding: 25px;
  text-align: center;
}

/*Contenido*/
main {
  padding: 30px;
}

/*Pie de pagina*/
footer {
  background-color: #933ce4;
  color: rgb(220, 234, 235);
  padding: 20px;
  text-align: center;
}
